<!DOCTYPE html>

<html>

<head>
    <title>about</title>
        <link rel="icon" href="/img/favicon (1).ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
        <div class="main-content "> 
        
        {{>header}}
        <p>This site was created by Shreyansh Thakur. This site uses data from WeatherStack API</p>
  

    </div>
    
  
    {{>footer}}
</body>

</html>